.wrapper{width: 100%;}

.fonm-container{
  width: 400px;
  display: block;
  margin: 200px auto 0;
}

#form label{display: block;}

.input-address{
  display: block;
  width: 200px;
  margin: 0 0 16px;
}

.reservation-container{
  margin: 120px 0 0;
  text-align: center;
}

.list {
  display: inline-block;
  width: 80%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list h2 {
	margin: 0 0 2em 0;
	font-size: 16px;
	text-align: center;
}
.room {
	float: left;
	margin: 10px 10px 10px 0;
	border: 1px solid #23628f;
	padding: 4px;
	width: 30%;
}
.check {
	margin: 0;
	padding: 8px;
	font-size: 12px;
	color: #ffffff;
	background-color: #23628f;
	text-align: center;
	cursor: pointer;
}
.red {
	background-color: #e33a6d;
}
.green {
	background-color: #7bc52e;
}
